@import url("./fonts.css");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");

body {
  margin: 0;
  padding: 0;
}

.box-noticia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
#box-card{
  width: 70rem;
  border: 2px solid;
  border-color: var(--azul-claro);
}

.card {
  width: 100%;
  margin-bottom: 20px; /* Adicione um espaço entre os cartões */
}

.card img {
  max-width: 100%;
  height: auto;
}
.card-title{
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: "PT Sans",sans-serif;
  margin-bottom: 1.5rem !important;
}
.btn{
  width: 100%;
  background-color: var(--azul-escuro) !important;
  height: auto;
  font-size: 20px !important;
}
  
.text-muted, .text-primary{
  font-family: "Montserrat";
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}